/* Tags */
body {
    padding: 5px 10px 5px 10px;
    background-color: #e9e9f2;
    color: rgb(58, 55, 55);
    font-family: sans-serif;
    width: 18rem;
}

img {
    mix-blend-mode: difference;
    object-fit: contain;
}


/* Classes */
.top-logos {
    display: flex;
    justify-content: space-between;
}

.logo-heading {
    display: flex;
}

.block-unblock-button {
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2rem 0;

}

.button {
    margin: 0;
    float: left;
    background-color: rgb(173, 176, 238);
    border: none;
    padding: 5px;
    color: rgb(58, 55, 55);
    font-size: medium;
    font-weight: 700;
}

.button:hover {
    background-color: rgb(133, 137, 225);
    border-radius: 5px;
}

.blocked-button {
    margin: 0;
    float: left;
    background-color: rgb(132, 132, 135);
    border: none;
    padding: 5px;
    color: rgb(249, 249, 255);
    font-size: medium;
    font-weight: 700;
}

.blocked-button:hover {
    background-color: rgb(62, 62, 68);
    border-radius: 5px;
}